[submodule "buildmode"]
	path = prj/buildmode
	url = git@github.com:MuAlphaOmegaEpsilon/buildmode
[submodule "minlog"]
	path = prj/minlog
	url = git@github.com:MuAlphaOmegaEpsilon/minlog
[submodule "vengine"]
	path = prj/vengine
	url = git@github.com:MuAlphaOmegaEpsilon/vengine
[submodule "sinecrunch"]
	path = prj/sinecrunch
	url = git@github.com:MuAlphaOmegaEpsilon/sinecrunch
[submodule "experiments-cpp"]
	path = prj/experiments-cpp
	url = git@github.com:MuAlphaOmegaEpsilon/experiments-cpp
[submodule "ConstexprDSUtils"]
	path = prj/ConstexprDSUtils
	url = git@github.com:MuAlphaOmegaEpsilon/ConstexprDSUtils
[submodule "CirDeVec"]
	path = prj/CirDeVec
	url = git@github.com:MuAlphaOmegaEpsilon/CirDeVec
[submodule "BranchHinting"]
	path = prj/BranchHinting
	url = git@github.com:MuAlphaOmegaEpsilon/BranchHinting
[submodule "FSEngine"]
	path = prj/FSEngine
	url = git@github.com:MuAlphaOmegaEpsilon/FSEngine
[submodule "developers/cheat/cheatsheets"]
	path = 3rd-party/cheat/cheatsheets
	url = git@github.com:cheat/cheatsheets
[submodule "curriculum-vitae"]
	path = prj/curriculum-vitae
	url = git@github.com:MuAlphaOmegaEpsilon/curriculum-vitae
[submodule "algorythm"]
	path = prj/algorythm
	url = github:MuAlphaOmegaEpsilon/algorythm
[submodule "cmake"]
	path = prj/cmake
	url = github:MuAlphaOmegaEpsilon/cmake
[submodule "cn-arch"]
	path = prj/cn-arch
	url = git@github.com:MuAlphaOmegaEpsilon/cn-arch
[submodule "mualphaomegaepsilon.github.io"]
	path = prj/mualphaomegaepsilon.github.io
	url = git@github.com:MuAlphaOmegaEpsilon/mualphaomegaepsilon.github.io
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:MuAlphaOmegaEpsilon/.ssh
[submodule "work"]
	path = work
	url = git@github.com:MuAlphaOmegaEpsilon/work
