.cache
.config/google-chrome*
.config/libreoffice
.mozilla
.config/skypeforlinux
.thunderbird
.vscode
*gnome*
snap
Telegram*
.local/bin
.local/lib
.local/share/cache2
.local/share/nvim/shada
.local/share/session*
.local/share/Trash
