.cache
.config/GIMP
.config/google-chrome*
.config/libreoffice
.config/skypeforlinux
.debug
.launchpadlib
.local/bin
.local/lib
.local/share/cache2
.local/share/datareporting
.local/share/gvfs-metadata
.local/share/icc
.local/share/icons
.local/share/nvim/shada
.local/share/pkcs11.txt
.local/share/safebrowsing
.local/share/saved-telemetry-pings
.local/share/session*
.local/share/startupCache
.local/share/storage
.local/share/Trash
.local/share/webkitgtk
.mozilla
.npm
.pki
.thunderbird
.vscode
*gnome*
snap
Telegram*
