[submodule "config"]
	path = config
	url = git@github.com:MuAlphaOmegaEpsilon/config
[submodule "local"]
	path = local
	url = git@github.com:MuAlphaOmegaEpsilon/local
[submodule "developers/scrooloose/nerdtree"]
	path = developers/scrooloose/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "developers/sickill/vim-monokai"]
	path = developers/sickill/vim-monokai
	url = git@github.com:sickill/vim-monokai
