[submodule "buildmode"]
	path = prj/buildmode
	url = git@github.com:MuAlphaOmegaEpsilon/buildmode
	branch = master
[submodule "minlog"]
	path = prj/minlog
	url = git@github.com:MuAlphaOmegaEpsilon/minlog
	branch = master
[submodule "vengine"]
	path = prj/vengine
	url = git@github.com:MuAlphaOmegaEpsilon/vengine
	branch = master
[submodule "sinecrunch"]
	path = prj/sinecrunch
	url = git@github.com:MuAlphaOmegaEpsilon/sinecrunch
	branch = master
[submodule "experiments-cpp"]
	path = prj/experiments-cpp
	url = git@github.com:MuAlphaOmegaEpsilon/experiments-cpp
	branch = master
[submodule "CirDeVec"]
	path = prj/CirDeVec
	url = git@github.com:MuAlphaOmegaEpsilon/CirDeVec
	branch = master
[submodule "BranchHinting"]
	path = prj/BranchHinting
	url = git@github.com:MuAlphaOmegaEpsilon/BranchHinting
	branch = master
[submodule "FSEngine"]
	path = prj/FSEngine
	url = git@github.com:MuAlphaOmegaEpsilon/FSEngine
	branch = master
[submodule "developers/cheat/cheatsheets"]
	path = 3rd-party/cheat/cheatsheets
	url = git@github.com:cheat/cheatsheets
	branch = master
[submodule "curriculum-vitae"]
	path = prj/curriculum-vitae
	url = git@github.com:MuAlphaOmegaEpsilon/curriculum-vitae
	branch = master
[submodule "cmake"]
	path = prj/cmake
	url = github:MuAlphaOmegaEpsilon/cmake
	branch = master
[submodule "cn-arch"]
	path = prj/cn-arch
	url = git@github.com:MuAlphaOmegaEpsilon/cn-arch
	branch = master
[submodule "mualphaomegaepsilon.github.io"]
	path = prj/mualphaomegaepsilon.github.io
	url = git@github.com:MuAlphaOmegaEpsilon/mualphaomegaepsilon.github.io
	branch = master
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:MuAlphaOmegaEpsilon/.ssh
	branch = master
[submodule "work"]
	path = work
	url = git@github.com:MuAlphaOmegaEpsilon/work
	branch = master
[submodule ".config/private.d"]
	path = .config/private.d
	url = git@github.com:MuAlphaOmegaEpsilon/private.d
	branch = master
[submodule ".local/share/nvim/site/plugin/lightline"]
	path = .local/share/nvim/site/pack/git-plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim
	branch = master
[submodule "3rd-party/GammaRay"]
	path = 3rd-party/GammaRay
	url = git@github.com:KDAB/GammaRay
	branch = master
[submodule "3rd-party/iOS-Utilities"]
	path = 3rd-party/iOS-Utilities
	url = git@github.com:matteyeux/iOS-Utilities
	branch = master
[submodule ".certs"]
	path = .certs
	url = git@github.com:MuAlphaOmegaEpsilon/.certs
	branch = master
[submodule "prj/tdsa"]
	path = prj/tdsa
	url = git@github.com:MuAlphaOmegaEpsilon/tdsa
	branch = master
[submodule "prj/logos"]
	path = prj/logos
	url = git@github.com:MuAlphaOmegaEpsilon/logos
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/qt-support.vim"]
	path = .local/share/nvim/site/pack/git-plugins/start/qt-support.vim
	url = git@github.com:fedorenchik/qt-support.vim
	branch = master
[submodule "3rd-party/cheatsheets"]
	path = 3rd-party/cheatsheets
	url = git@github.com:cheat/cheatsheets
	branch = master
[submodule "prj/fadingshade"]
	path = prj/fadingshade
	url = git@github.com:MuAlphaOmegaEpsilon/fadingshade
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/nerdcommenter"]
	path = .local/share/nvim/site/pack/git-plugins/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter
	branch = master
[submodule "prj/quantum"]
	path = prj/quantum
	url = git@github.com:MuAlphaOmegaEpsilon/quantum
	branch = master
[submodule "prj/minimalib"]
	path = prj/minimalib
	url = git@github.com:MuAlphaOmegaEpsilon/minimalib
	branch = master
[submodule "prj/collatz"]
	path = prj/collatz
	url = git@gist.github.com:d916d5fe603d07ff695ccad67eb98f64
	branch = master
[submodule "prj/books"]
	path = prj/books
	url = git@github.com:MuAlphaOmegaEpsilon/books
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/git-plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
	branch = master
[submodule "3rd-party/flutter"]
	path = 3rd-party/flutter
	url = git@github.com:flutter/flutter
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/dart-vim-plugin"]
	path = .local/share/nvim/site/pack/git-plugins/start/dart-vim-plugin
	url = git@github.com:dart-lang/dart-vim-plugin
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/git-plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/flutter-tools.nvim"]
	path = .local/share/nvim/site/pack/git-plugins/start/flutter-tools.nvim
	url = git@github.com:akinsho/flutter-tools.nvim
	branch = main
[submodule "prj/me"]
	path = prj/me
	url = git@github.com:MuAlphaOmegaEpsilon/me
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/nvim-cmp"]
	path = .local/share/nvim/site/pack/git-plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
	branch = main
[submodule ".local/share/nvim/site/pack/git-plugins/start/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/git-plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
	branch = main
[submodule ".local/share/nvim/site/pack/git-plugins/start/UltiSnips"]
	path = .local/share/nvim/site/pack/git-plugins/start/UltiSnips
	url = git@github.com:sirver/UltiSnips
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/tabular"]
	path = .local/share/nvim/site/pack/git-plugins/start/tabular
	url = git@github.com:godlygeek/tabular
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/vim-json"]
	path = .local/share/nvim/site/pack/git-plugins/start/vim-json
	url = git@github.com:elzr/vim-json
	branch = master
[submodule "prj/c-starlang"]
	path = prj/c-starlang
	url = git@github.com:MuAlphaOmegaEpsilon/c-starlang
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/nvim-treesitter"]
	path = .local/share/nvim/site/pack/git-plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter
	branch = master
[submodule ".local/share/nvim/site/pack/git-plugins/start/playground"]
	path = .local/share/nvim/site/pack/git-plugins/start/playground
	url = git@github.com:nvim-treesitter/playground
	branch = master
[submodule "prj/3d-models"]
	path = prj/3d-models
	url = git@github.com:MuAlphaOmegaEpsilon/3d-models.git
	branch = master
[submodule "prj/OliveExploration"]
	path = prj/OliveExploration
	url = git@github.com:morrolinux/OliveExploration
	branch = main
[submodule "prj/dove"]
	path = prj/dove
	url = git@github.com:MuAlphaOmegaEpsilon/dove.git
	branch = master
