gnome-initial-setup-done
monitors.xml
monitors.xml~

autostart/*
coc/*
configstore/*
dconf/*
enchant/*
evolution/*
gedit/*
git-cola/*
gnome-control-center/*
goa-1.0/*
google-chrome/*
ibus/*
pulse/*
sublime-text-3/*

Code/*
Slack/*
